ErrorDocument 404 /pr_yanks/error.html

RewriteEngine On

RewriteRule ^beranda$ main.php?page=home [L]
RewriteRule ^paket$ main.php?page=paket [L]
RewriteRule ^kontak$ main.php?page=kontak [L]
RewriteRule ^lokasi$ main.php?page=lokasi [L]
RewriteRule ^galeri-(.*)$ main.php?page=galeri&hal=$1 [L]
RewriteRule ^testi-(.*)$ main.php?page=testi&hal=$1 [L]
RewriteRule ^kendaraan$ main.php?page=kendaraan [L]
RewriteRule ^hotel$ main.php?page=hotel [L]
RewriteRule ^in$ views/login.php [L]
RewriteRule ^404$ error.html [L]

RewriteRule ^mint$ mint.php?page=home [L]
RewriteRule ^mint-cms$ mint.php?page=cms [L]
RewriteRule ^mint-paket$ mint.php?page=paket [L]
RewriteRule ^mint-edit-deskripsi$ mint.php?page=editdeskripsi [L]
RewriteRule ^mint-lokasi-(.*)$ mint.php?page=lokasi&hal=$1 [L]
RewriteRule ^mint-edit-lokasi-(.*)$ mint.php?page=editlokasi&id=$1 [L]
RewriteRule ^mint-user$ mint.php?page=user [L]
RewriteRule ^mint-edit-user-(.*)$ mint.php?page=edituser&id=$1 [L]
RewriteRule ^mint-galeri-(.*)$ mint.php?page=galeri&hal=$1 [L]
RewriteRule ^mint-edit-galeri-(.*)$ mint.php?page=editgaleri&id=$1 [L]
RewriteRule ^mint-testi-(.*)$ mint.php?page=testimoni&hal=$1 [L]
RewriteRule ^mint-readMsg-(.*)$ mint.php?page=readMsg&id=$1 [L]
RewriteRule ^mint-paket$ mint.php?page=paket [L]
RewriteRule ^mint-edit-paket-(.*)$ mint.php?page=editpaket&id=$1 [L]
RewriteRule ^mint-hotel-(.*)$ mint.php?page=hotel&id=1 [L]
RewriteRule ^mint-edit-hotel-(.*)$ mint.php?page=edithotel&id=$1 [L]
RewriteRule ^mint-car-(.*)$ mint.php?page=car&id=1 [L]
RewriteRule ^mint-edit-car-(.*)$ mint.php?page=editcar&id=$1 [L]


RewriteRule ^doLogin$ controller/indexController.php?process=login [L]
RewriteRule ^doLogout$ controller/indexController.php?process=logout [L]
RewriteRule ^ubahLokasi-(.*)$ controller/adminController.php?process=ubahLokasi&id=$1 [L]
RewriteRule ^hapuslokasi-(.*)$ controller/adminController.php?process=deleteLokasi&id=$1 [L]
RewriteRule ^tambahLokasi$ controller/adminController.php?process=tambahLokasi [L]
RewriteRule ^ubahstatuslokasi-(.*)$ controller/adminController.php?process=changeStat&id=$1 [L]
RewriteRule ^tambahUser$ controller/adminController.php?process=tambahUser [L]
RewriteRule ^editUser$ controller/adminController.php?process=editUser [L]
RewriteRule ^ubahstatususer-(.*)$ controller/adminController.php?process=changeStatUser&id=$1 [L]
RewriteRule ^hapususer-(.*)$ controller/adminController.php?process=deleteUser&id=$1 [L]
RewriteRule ^ubahkontak$ controller/adminController.php?process=ubahKontak [L]
RewriteRule ^ubahdeskripsi$ controller/adminController.php?process=ubahDeskripsi [L]
RewriteRule ^tambahGaleri$ controller/adminController.php?process=tambahGaleri [L]
RewriteRule ^ubahGaleri$ controller/adminController.php?process=ubahGaleri [L]
RewriteRule ^hapusgaleri-(.*)$ controller/adminController.php?process=deleteGaleri&id=$1 [L]
RewriteRule ^ubahstatusgaleri-(.*)$ controller/adminController.php?process=changeStatGaleri&id=$1 [L]
RewriteRule ^addTesti$ controller/indexController.php?process=addtesti [L]
RewriteRule ^ubahstatustesti-(.*)$ controller/adminController.php?process=changeStatTesti&id=$1 [L]
RewriteRule ^deleteTesti-(.*)$ controller/adminController.php?process=deleteTesti&id=$1 [L]
RewriteRule ^tambahPaket$ controller/adminController.php?process=tambahPaket [L]
RewriteRule ^ubahpaket$ controller/adminController.php?process=editPaket&id=$1 [L]
RewriteRule ^deletepaket-(.*)$ controller/adminController.php?process=deletePaket&id=$1 [L]
RewriteRule ^ubahstatuspaket-(.*)$ controller/adminController.php?process=changeStatPaket&id=$1 [L]
RewriteRule ^ubahnav$ controller/adminController.php?process=changeNav [L]
RewriteRule ^ubahheading$ controller/adminController.php?process=changeHeading [L]
RewriteRule ^tambahHotel$ controller/adminController.php?process=tambahHotel [L]
RewriteRule ^ubahHotel-(.*)$ controller/adminController.php?process=ubahHotel&id=$1 [L]
RewriteRule ^deleteHotel-(.*)$ controller/adminController.php?process=deleteHotel&id=$1 [L]
RewriteRule ^ubahstatushotel-(.*)$ controller/adminController.php?process=changeStatHotel&id=$1 [L]
RewriteRule ^tambahMobil$ controller/adminController.php?process=tambahMobil [L]
RewriteRule ^ubahMobil-(.*)$ controller/adminController.php?process=ubahMobil&id=1 [L]
RewriteRule ^deleteMobil-(.*)$ controller/adminController.php?process=deleteMobil&id=$1 [L]
RewriteRule ^ubahstatusmobil-(.*)$ controller/adminController.php?process=changeStatMobil&id=$1 [L]

Options All -Indexes